@page "/"
@using PetroCollab.Presentation.Client.ViewModels
@inject HomeViewModel HomeViewModel

<PageTitle>Localization</PageTitle>

<h1>@HomeViewModel.Title</h1>
<p>@HomeViewModel.Description</p>

@code {
    private HomeViewModel _viewModel; 

    protected override async Task OnInitializedAsync()
    {
        await HomeViewModel.LoadDataAsync();
    }
}
