@page "/prv-calculator"

<div class="calculator-page">
    <h3>PRV Calculator</h3>

    <div class="grid-container">
        <div class="grid-item">
            Top Left Cell (Row 1, Column 1)
        </div>
        <div class="grid-item">
            Top Right Cell (Row 1, Column 2)
        </div>
        <div class="grid-item">
            Bottom Left Cell (Row 2, Column 1)
        </div>
        <div class="grid-item">
            Bottom Right Cell (Row 2, Column 2)
        </div>
    </div>
</div>

@code {

}
