/* Layout Styles */
.calculator-page {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    .calculator-page h3 {
        padding: 0;
    }

.top-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    min-width: 300px;
    padding: 0;
}

.bottom-section {
    clear: both;
    width: 100%;
    padding: 0 10px;
    border-top: 1px solid #EFEFEF; /* Light divider */
    margin-top: 10px;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .column {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}


/* Prevent horizontal scrollbar */
:root {
    overflow-x: hidden;
}

/* Formula container */
.formula-container {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
}

/* Form styles */
.modern-label {
    display: block;
    margin-bottom: 5px;
    font-weight: 550;
    color: #333333;
}

.modern-input {
    display: block;
    padding: 4px 0px 4px 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #333333;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out;
}

    .modern-input:focus {
        outline: none;
        border-color: #c0c0c0;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
    }

    /* Hover effect */
    .modern-input:hover {
        border-color: #c0c0c0;
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.03);
    }

.default-value {
    color: #C0C0C0;
}

/* Remove spinner buttons from number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Button styling */
.btn-calculate {
    display: block;
    padding: 4px 0;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: #008348; /* Green color */
    border: none;
    border-radius: 4px; /* Same rounded borders */
    transition: all 0.2s ease;
    cursor: pointer;
    margin-top: 20px;
}

    .btn-calculate:hover {
        background-color: #009d56; /* Lighter green */
        box-shadow: 0 0 0 3px rgba(0, 131, 72, 0.2); /* Shadow with main color */
    }

    .btn-calculate:active {
        transform: translateY(1px); /* Slight push effect */
        box-shadow: 0 0 0 4px rgba(0, 131, 72, 0.3); /* Darker shadow when clicked */
    }

    .btn-calculate:focus {
        outline: none;
    }